<!--<!DOCTYPE html>-->
<!--<html lang="en"><head>-->
  <!--<meta charset="UTF-8">-->
  <!--<meta content="IE=edge" http-equiv="X-UA-Compatible">-->
  <!--<meta content="width=device-width,initial-scale=1" name="viewport">-->
  <!--<meta content="description" name="description">-->
  <!--<meta name="google" content="notranslate">-->
  <!--<meta content="Mashup templates have been developped by Orson.io team" name="author">-->

  <!--&lt;!&ndash; Disable tap highlight on IE &ndash;&gt;-->
  <!--<meta name="msapplication-tap-highlight" content="no">-->
  <!---->
{% extends 'services/base.html' %}

{% block albums_active %}active{% endblock %}

{% block body %}
{% load static %}

  <link href="https://s3.amazonaws.com/esite.io/projects/M362e332f96a09f3b34ca4578993ca0071552757584297/common/assets/apple-icon-180x180.png" rel="apple-touch-icon">
  <link href="https://s3.amazonaws.com/esite.io/projects/M362e332f96a09f3b34ca4578993ca0071552757584297/common/assets/favicon.ico" rel="icon">



  <title>Title page</title>  

<link href="https://s3.amazonaws.com/esite.io/projects/M362e332f96a09f3b34ca4578993ca0071552757584297/site/css/style.css" rel="stylesheet"></head>

<body>

 <!-- Add your content of header -->
<header class="">
  <div class="navbar navbar-default visible-xs">
    <button type="button" class="navbar-toggle collapsed">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    
  </div>

  <nav class="sidebar">
    <div class="navbar-collapse" id="navbar-collapse">
      <div class="site-header hidden-xs">
          <a class="site-brand" href="{% url 'index'%}" title="">
            <img class="img-responsive site-logo" alt="" src="https://s3.amazonaws.com/esite.io/projects/M362e332f96a09f3b34ca4578993ca0071552757584297/common/assets/mashup-logo.svg">ESOP</a>
        <p>Hi! {{ request.session.username }}</p>
      </div>
      <ul class="nav">
        <li><a href="{% url 'index'%}" title="">Restaurants</a></li>
        <li><a href="{% url 'barber'%}" title="">Barber</a></li>
        <li><a href="{% url 'laundary'%}" title="">Laundary</a></li>
        <li><a href="{% url 'erick' %}">E-Rickshaw</a> </li>
        <!--<li><a href="contact.html" title=""></a></li>-->
        <!--<li><a href="components.html" title=""></a></li>-->

      </ul>

      <nav class="nav-footer">
        <p class="nav-footer-social-buttons">
          <a class="fa-icon" href="https://www.instagram.com/" title="">
            <i class="fa fa-instagram"></i>
          </a>
          <a class="fa-icon" href="https://dribbble.com/" title="">
            <i class="fa fa-dribbble"></i>
          </a>
          <a class="fa-icon" href="https://twitter.com/" title="">
            <i class="fa fa-twitter"></i>
          </a>
        </p>
        <p><a href="http://www.mashup-template.com/" title="Create website with free html template"></a><br><a href="https://www.unsplash.com/" title="Beautiful Free Images"></a></p>
      </nav>  
    </div> 
  </nav>
</header>
<main class="" id="main-collapse">


<div style="position: absolute;top:55%;width:70%">
<div class="row">
  <div class="col-xs-12 col-md-6">
    <img class="img-responsive" alt="" src="{% static "images/PTR2I5SGUNHJJGUGMHSGXFFCKU.jpg" %}">
  </div>
  <div class="col-xs-12 col-md-6">
    <table class="table table-borderless" >
      <tr><th>
    <h2>Sonu Kumar</h2>
    
    <p><div>Barber Shop No-1, Infront of Dakshin Kamrup College, Mirza</div><br></p></th>
    <th>
    <h2>Bittu Raj</h2>

    <p><div>Barber Shop-No-1, VIP Market</div><br></p></th>
    <th>
    <h2>Nandu</h2>
    
    <p><div>Mirza Road, Infront St. joseph School</div></p></th></tr></table>
    
    <!--<a href="contact.html" class="btn btn-primary" title=""> Get in touch</a>-->
 </div>
</div>
</div>
<div id="map2"></div>
    
</main>

<script>
document.addEventListener("DOMContentLoaded", function (event) {
  navbarToggleSidebar();
  navActivePage();
});
</script>

<script>
  function initMap() {
        var latlng = {lat:26.1025,lng: 91.5730};
        var latlng1 = {lat:26.1045,lng: 91.5810};
        var latlng2 = {lat:26.1032,lng: 91.5745};
        var latlng3 = {lat:26.1010,lng: 91.5665};

        var map = new google.maps.Map(document.getElementById('map2'), {
          mapTypeControl: true,
          //VIP MARKET as Center
          center: {lat: 26.1055, lng: 91.5860},
          zoom: 15
        });

        var marker1 = new google.maps.Marker({
          position: latlng,
          map: map,
          title: 'Sonu Kumar'
        });
        var marker2 = new google.maps.Marker({
          position: latlng1,
          map: map,
          title: 'Bittu Raj'
        });
        var marker3 = new google.maps.Marker({
          position: latlng2,
          map: map,
          title: 'Nandu'
        });
        
      };
</script>
 <script type="text/javascript" src="https://s3.amazonaws.com/esite.io/projects/M362e332f96a09f3b34ca4578993ca0071552757584297/site/js/main.js"></script>

{%endblock%}